
VITE_STRAPI_URL=https://strapi.durchchecker.knotzer.io

NODE_ENV=development
PORT=3000

POSTGRES_USER=durchchecker
POSTGRES_PASSWORD=durchchecker
POSTGRES_DB=durchchecker
DATABASE_URL="postgresql://durchchecker:durchchecker@localhost:5432/durchchecker"
